<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>

    <link rel="stylesheet" type="text/css" th:href="@{libs/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/recover-style.css}"/>

</head>
<body>
<div class="col-xl-3 mx-auto mb-2 mt-5">
    <!--Section: Block Content-->
    <section class="mb-5">

        <p>Set a new password</p>

        <form action="#!">

            <div class="md-form md-outline">
                <input type="password" id="newPass" placeholder="New password" class="form-control">

                <label data-error="wrong" data-success="right" for="newPassConfirm"></label>
            </div>

            <div class="md-form md-outline">
                <input type="password" id="newPassConfirm" placeholder="Confirm password" class="form-control">
                <label data-error="wrong" data-success="right" for="newPassConfirm"></label>
            </div>

            <button type="submit" class="btn btn-primary mb-4">Change password</button>

        </form>

        <div class="d-flex justify-content-between align-items-center mb-2">

            <u><a href="/login">Back to Log In</a></u>

            <u><a href="/sign-up">Register</a></u>

        </div>

    </section>
    <!--Section: Block Content-->
</div>
</body>
</html>