<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>One store | Buy everything from one store</title>

    <link rel="stylesheet" type="text/css" th:href="@{libs/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
<style>

</style>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xl-5 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>

                    <p th:if="${param.error != null}" class="d-block text-center mt-2 small text-danger">Username or password mismatch.</p>

                    <form class="form-signin" th:action="@{/authenticateTheUser}"
                          method="post">
                        <!--                        Manually added CSRF Token-->
                        <input
                                type="hidden"
                                th:name="${_csrf.parameterName}"
                                th:value="${_csrf.token}"/>
                        <div class="form-label-group">
                            <input type="text" id="inputEmail" class="form-control"
                                   placeholder="Email address" name="username"
                                   required>
                            <label for="inputEmail">Username</label>
                        </div>

                        <hr>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control"
                                   placeholder="Password" name="password"
                                   required>
                            <label for="inputPassword">Password</label>
                        </div>


                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>





                        <a class="d-block text-center mt-2 small" href="/forgot-password">Forgot Password?</a>
                        <hr class="my-4">
                        Don't have account? <a class=" text-center mt-2 small" href="/register">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>